/*importação de fonte Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
 

/* corpo do projeto*/


body {
    margin: 0%;
    font-family: 'Lato';
}

main {
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    
}
.conteudo-topo {
    display: flex;
    background-color: #e0e0e0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.titulo {
    align-self: center;
}

.logo-topo {
    margin-left: 50px;
    margin-right: 50px;
}
.menu {
    display: flex;
    margin-right: 50px;
}
.barra-lateral {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    display: flex;

}
.botao-menu {
    background-color: transparent;
    border: none;
    font-size: 36px;
    position: absolute;
    right: 21px;
    top: 2px;
    display: none;
}
.barra-lateral a {
    padding: 5px;
    text-decoration: none;
}


/*boxes*/



#box-um {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
    padding: 1%;
    outline: auto;
    outline-color: rgb(133, 128, 128);

}
.titulo-box {
    text-align: center;
    margin-bottom: 4%;
    margin-top: 3%;
    font-weight: bold;
}

#titulo-box-um {
    font-size: 25px;
}

#titulo-box-dois {
    font-size: 40px;
}

#valor, #mercadoria, #transacao, #add {
    min-width: -webkit-fill-available;
    margin-top: 2%;
    margin-bottom: 7%;
}

#add {
    background-color: black;
    color: white;
}
#box-dois {
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

/*tabela*/

#tabela {
    width: 100%;
}

.linha {
    font-weight: bolder;
    font-size: large;
    padding-bottom: 20px;
}

.td {
    border-bottom: solid 1px;
    padding-bottom: 15px;
}

.td-2 {
    border-bottom: double;
    padding-bottom: 15px;
}


#ultima-linha-tabela {
    padding-top: 15px;
    border: none;
}
#lucro {
    text-align: right;
    font-size: small;
}


/*media screen*/

/*Tablets, ipad*/

@media only screen and (min-width: 550px) and (max-width: 900px) {
    main {
        display: block;
    }

    .botao-menu {
        background-color: transparent;
        border: none;
        font-size: 36px;
        position: absolute;
        right: 21px;
        top: 2px;
        display: flex;
        cursor: pointer;
    }
    
    .barra-lateral{
        display: none;
    }



    #box-um {    
        margin: 5%;
        padding: 1%;
        outline: auto;
        outline-color: rgb(133, 128, 128);
        width: auto;
    }

    #box-dois {
        margin: 5%;
        display: block;
        width: auto;

    }

    .elemento-form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .botao-add {
        float: right;
    }
}

/*Smartphone*/
@media only screen and (max-width: 549px) {
    .logo-topo {
        margin-left: 20px;
        margin-right: 10px;
    }

    main {
        display: block;
        text-align: -webkit-center;
    }

    .menu {
        display: flow-root;
    }

    .botao-menu {
        background-color: transparent;
        border: none;
        font-size: 36px;
        position: absolute;
        right: 21px;
        top: 2px;
        display: flex;
        cursor: pointer;
    }

    #box-dois {
        margin: 5%;
        display: block;
        width: auto;
    }

    footer {
        text-align: right;
        margin-right: 5%;
    }
}