/*importação de fonte Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
 
/* corpo do projeto*/


body {
    margin: 0px;
    font-family: 'Lato';
    padding: 0px;
    overflow: hidden;
}

main {
    display: flex;
    max-width: 1100px;
    margin: auto;
    padding: 20px;   
}
.topo {
    direction: rtl;
}

a {
    text-decoration: none;
    display: block;
    padding: 20px 5px;
    color: white;
    text-align: left;
}
a:hover {
    background-color: rgb(189, 184, 184);
    color: black;
}
ul {
    list-style: none;
    position: absolute;
    width: 100%;
    top: 25px;
    font-size: 20px;
    padding: 0px;
}

#imgmenu {
    width: 40px;
}
#check {
    display: none;
}
nav {
    background-color: rgb(61, 61, 61);
    height: 100%;
    width: 350px;
    right: -350px;
    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav {
    transform: translateX(-350px);
}
#menu-topo {
    right: 20px;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.conteudo-topo {
    display: flex;
    background-color: #e0e0e0;
    justify-content: space-between;
    width: 100%;
    padding-top: 0;
}
.titulo-topo {
    align-self: center;
}

.logo-topo {
    margin-left: 23px;
    align-self: center;
}



/*boxes*/



#box-um {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
    padding: 1%;
    outline: auto;
    outline-color: rgb(133, 128, 128);

}
.titulo-box {
    text-align: center;
    margin-bottom: 4%;
    margin-top: 3%;
    font-weight: bold;
}

#titulo-box-um {
    font-size: 25px;
}

#titulo-box-dois {
    font-size: 40px;
}

#valor, #mercadoria, #transacao, #add {
    min-width: -webkit-fill-available;
    margin-top: 2%;
    margin-bottom: 7%;
}

#add {
    background-color: black;
    color: white;
}
#box-dois {
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;
}

/*tabela*/

#tabela {
    width: 100%;
}

.linha {
    font-weight: bolder;
    font-size: large;
    padding-bottom: 20px;
}

.td {
    border-bottom: solid 1px;
    padding-bottom: 15px;
}

.td-2 {
    border-bottom: double;
    padding-bottom: 15px;
}


#ultima-linha-tabela {
    padding-top: 15px;
    border: none;
}
#lucro {
    text-align: right;
    font-size: small;
}


/*media screen*/

/*Tablets, ipad*/

@media only screen and (min-width: 550px) and (max-width: 900px) {
    main {
        display: block;
    }

    nav {
        width: 260px;
    }
    ul {
        top: 25px;
        font-size: 17px;
    }

    #box-um {    
        margin: 5%;
        padding: 1%;
        outline: auto;
        outline-color: rgb(133, 128, 128);
        width: auto;
    }

    #box-dois {
        margin: 5%;
        display: block;
        width: auto;

    }

    .elemento-form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .botao-add {
        float: right;
    }
}

/*Smartphone*/
@media only screen and (max-width: 549px) {
    .logo-topo {
        margin-left: 10px;
        margin-right: 10px;
        align-self: center;
    }
    .conteudo-topo {
        justify-content: start;
    }
    nav {
        width: 50%;
    }

    main {
        display: block;
        text-align: -webkit-center;
    }

    .menu {
        display: flow-root;
    }

    #box-dois {
        margin: 5%;
        display: block;
        width: auto;
    }
}